@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, 
  dark --prefersdark,
  caramellatte,
  nord;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: teal;
  --color-accent: oklch(90% 0.35 280);
}


@plugin "daisyui/theme" {
  name: "nord";
  /* --color-base-content: ;  */
}